### 本项目主要是为了巩固pandas模块而进行的练习，本文章包括了pandas数据
### 分析非常常用的知识点，知识点概述如下：
* 1、数据集基本信息探索
    * 数据基本情况
    * 数量探索
    * 相关性分析
    * 绘总统计
    * 数据抽样
* 2、应用函数 apply
* 3、合并数据
* 4、索引问题
* 5、排序问题
* 6、重复数据处理
* 7、数据分组
* 8、处理缺失值
* 9、选择数据
* 10、pandas时间序列
* 11、pandas可视化
#### 以后有什么想法，还会持续更新的....

## 往期文章学习
https://www.kesci.com/home/column/5cb43d67e0ad99002cad14d6

### 数据集

In [158]:
# 查看当前挂载的数据集目录
print('\n>>>数据集1')
!ls /home/kesci/input/govstats2556
print('\n>>>数据集2')
!ls /home/kesci/input/results6370

>>>数据集1
2015年国内主要城市年度数据.csv	2017年国内主要城市年度数据.csv
2016年国内主要城市年度数据.csv

>>>数据集2
results.csv
time: 881 ms

## 1、pandas 基本信息探索

### (1) 基本情况

In [159]:
import pandas as pd
df = pd.read_csv('/home/kesci/input/govstats2556/2015年国内主要城市年度数据.csv')

print('--' * 20, '\n【1】数据集基本情况探索')

print('\n>>>', df.shape, df.shape[0], df.shape[1]) # 样本形状、样本数、特征数探索
print('\n>>>', df.index, df.index.tolist(), df.columns)  # 样本索引、索引转换成列表、列名探索
print('\n>>>', df['年份'].dtypes, '\n', df.dtypes)  # 某列类型、全部样本类型探索
print('\n>>>')
print(df.info())  # 样本基本情况探索，是上面方法的统一

----------------------------------------
【1】数据集基本情况探索

>>> (36, 13) 36 13

>>> RangeIndex(start=0, stop=36, step=1) [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35] Index(['地区', '年份', '国内生产总值', '第一产业增加值', '第二产业增加值', '第三产业增加值', '社会商品零售总额',
       '货物进出口总额', '年末总人口', '在岗职工平均工资', '普通高等学校在校学生数', '医院、卫生院数', '房地产开发投资额'],
      dtype='object')

>>> int64
 地区              object
年份               int64
国内生产总值         float64
第一产业增加值        float64
第二产业增加值        float64
第三产业增加值        float64
社会商品零售总额       float64
货物进出口总额        float64
年末总人口          float64
在岗职工平均工资         int64
普通高等学校在校学生数    float64
医院、卫生院数          int64
房地产开发投资额       float64
dtype: object

>>>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 13 columns):
地区             36 non-null object
年份             36 non-null int64
国内生产总值         36 non-null float64
第一产业增加值        36 non-null float64
第二产业增加值        36 non-null float64
第三产业增加值        36 non-null float64
社会商品零售总额       36 non-null float64
货物进出口总额        36 non-null float64
年末总人口          36 non-null float64
在岗职工平均工资       36 non-null int64
普通高等学校在校学生数    36 non-null float64
医院、卫生院数        36 non-null int64
房地产开发投资额       35 non-null float64
dtypes: float64(9), int64(3), object(1)
memory usage: 3.7+ KB
None
time: 13.4 ms

### (2) 数量探索

In [160]:
print('--' *20, '\n【2】数量探索')

print('\n>>>', df['年份'].count(), '\n', df.count())  # 探索某列、全部样本非 NA 值的数量
print('\n>>>', df['年份'].values)  # 探索某列的值，也可以探索全部样本的值
print('\n>>>', df['第一产业增加值'].value_counts().head())  # 探索某列中各元素值出现的次数(只能探索某列的)
print('\n>>>', df['国内生产总值'].unique(), df.nunique())  # 探索某列唯一值元素、每一列唯一值的数量
print('\n>>>', df.isnull().sum(), '\n', df.notnull().sum())  # 探索每一列缺失值数量、不是缺失值数量
print('\n>>>', df['年份'].head(), df[['地区', '年份']].head())  # 某列取值、多列取值

----------------------------------------
【2】数量探索

>>> 36
 地区             36
年份             36
国内生产总值         36
第一产业增加值        36
第二产业增加值        36
第三产业增加值        36
社会商品零售总额       36
货物进出口总额        36
年末总人口          36
在岗职工平均工资       36
普通高等学校在校学生数    36
医院、卫生院数        36
房地产开发投资额       35
dtype: int64

>>> [2015 2015 2015 2015 2015 2015 2015 2015 2015 2015 2015 2015 2015 2015
 2015 2015 2015 2015 2015 2015 2015 2015 2015 2015 2015 2015 2015 2015
 2015 2015 2015 2015 2015 2015 2015 2015]

>>> 37.46     1
263.43    1
6.65      1
373.15    1
208.82    1
Name: 第一产业增加值, dtype: int64

>>> [23014.59 16538.19  5440.6   2735.34  3090.52  7272.31  7731.64  5530.03
  5751.21 25123.45  9720.77 10050.21  8003.61  5660.27  5618.08  3466.03
  4000.01  6100.23  9300.07  7311.52 10905.6   8510.13 18100.41 17502.86
  3410.09  1161.96 15717.27 10801.16  2891.16  3968.01   376.73  5801.2
  2095.99  1131.62  1493.86  2631.64] 地区             36
年份              1
国内生产总值         36
第一产业增加值        36
第二产业增加值        36
第三产业增加值        36
社会商品零售总额       36
货物进出口总额        36
年末总人口          36
在岗职工平均工资       36
普通高等学校在校学生数    36
医院、卫生院数        36
房地产开发投资额       35
dtype: int64

>>> 地区             0
年份             0
国内生产总值         0
第一产业增加值        0
第二产业增加值        0
第三产业增加值        0
社会商品零售总额       0
货物进出口总额        0
年末总人口          0
在岗职工平均工资       0
普通高等学校在校学生数    0
医院、卫生院数        0
房地产开发投资额       1
dtype: int64
 地区             36
年份             36
国内生产总值         36
第一产业增加值        36
第二产业增加值        36
第三产业增加值        36
社会商品零售总额       36
货物进出口总额        36
年末总人口          36
在岗职工平均工资       36
普通高等学校在校学生数    36
医院、卫生院数        36
房地产开发投资额       35
dtype: int64

>>> 0    2015
1    2015
2    2015
3    2015
4    2015
Name: 年份, dtype: int64      地区    年份
0    北京  2015
1    天津  2015
2   石家庄  2015
3    太原  2015
4  呼和浩特  2015
time: 18.5 ms

### (3) 相关性分析

In [161]:
print('--' * 20, '\n【3】探索特征之间相关性')

print('\n>>>', df['年末总人口'].var(), df.var())  # 探索某列、全部样本的方差
print('\n>>>', df['年末总人口'].var(), df.std())  # 探索标准差
print('\n>>>', df.cov().iloc[:4, :4])  # 探索变量间的协方差
print('\n>>>', df.corr().iloc[:4, :4])  # 探索变量间的相关性

----------------------------------------
【3】探索特征之间相关性

>>> 318748.37529928575 年份             0.000000e+00
国内生产总值         3.755039e+07
第一产业增加值        4.886273e+04
第二产业增加值        4.679340e+06
第三产业增加值        1.782541e+07
社会商品零售总额       6.078666e+06
货物进出口总额        1.225179e+10
年末总人口          3.187484e+05
在岗职工平均工资       2.280371e+08
普通高等学校在校学生数    6.957614e+02
医院、卫生院数        7.417014e+04
房地产开发投资额       9.851708e+05
dtype: float64

>>> 318748.37529928575 年份                  0.000000
国内生产总值           6127.837200
第一产业增加值           221.049155
第二产业增加值          2163.178122
第三产业增加值          4222.014567
社会商品零售总额         2465.495111
货物进出口总额        110687.783056
年末总人口             564.578051
在岗职工平均工资        15100.896250
普通高等学校在校学生数        26.377290
医院、卫生院数           272.341954
房地产开发投资额          992.557698
dtype: float64

>>>           年份        国内生产总值        第一产业增加值       第二产业增加值
年份       0.0  0.000000e+00       0.000000  0.000000e+00
国内生产总值   0.0  3.755039e+07  287830.867960  1.210478e+07
第一产业增加值  0.0  2.878309e+05   48862.729087  1.660195e+05
第二产业增加值  0.0  1.210478e+07  166019.479592  4.679340e+06

>>>          年份    国内生产总值   第一产业增加值   第二产业增加值
年份      NaN       NaN       NaN       NaN
国内生产总值  NaN  1.000000  0.212491  0.913182
第一产业增加值 NaN  0.212491  1.000000  0.347199
第二产业增加值 NaN  0.913182  0.347199  1.000000
time: 20.7 ms

### (4) 汇总统计

In [162]:
print('--' * 20, '\n【4】样本数据汇总统计')

print('\n>>>', df.sum())  # 每一列求和
print('\n>>>', df['地区'].cumsum().head())  # 某列逐行累加(可以全部样本每一列都累加)
print('\n>>>', df.max().head(), df.min().head())  # 最大最小值
# 返回 '国内生产总值' 列最大、最小值所对应的索引号
print('\n>>>', df['国内生产总值'].idxmax(), '\n', df['国内生产总值'].idxmin()) 
print('\n>>>', df.mean(), df.median())  # 平均值、中位数
print('\n>>>', df.describe().T)  # 汇总统计信息，是上面方法的统一

----------------------------------------
【4】样本数据汇总统计

>>> 地区             北京天津石家庄太原呼和浩特沈阳大连长春哈尔滨上海南京杭州宁波合肥福州厦门南昌济南青岛郑州武汉...
年份                                                         72540
国内生产总值                                                    277958
第一产业增加值                                                  9067.73
第二产业增加值                                                   110482
第三产业增加值                                                   158409
社会商品零售总额                                                  121050
货物进出口总额                                              2.31601e+06
年末总人口                                                    25808.3
在岗职工平均工资                                                 2510833
普通高等学校在校学生数                                              1647.01
医院、卫生院数                                                    12260
房地产开发投资额                                                 48094.7
dtype: object

>>> 0               北京
1             北京天津
2          北京天津石家庄
3        北京天津石家庄太原
4    北京天津石家庄太原呼和浩特
Name: 地区, dtype: object

>>> 地区              青岛
年份            2015
国内生产总值     25123.5
第一产业增加值    1150.15
第二产业增加值       7991
dtype: object 地区             上海
年份           2015
国内生产总值     376.73
第一产业增加值      6.65
第二产业增加值    140.95
dtype: object

>>> 9
 30

>>> 年份              2015.000000
国内生产总值          7721.065833
第一产业增加值          251.881389
第二产业增加值         3068.935278
第三产业增加值         4400.248611
社会商品零售总额        3362.513889
货物进出口总额        64333.485278
年末总人口            716.897500
在岗职工平均工资       69745.361111
普通高等学校在校学生数       45.750278
医院、卫生院数          340.555556
房地产开发投资额        1374.133143
dtype: float64 年份              2015.000
国内生产总值          5776.205
第一产业增加值          223.520
第二产业增加值         2611.690
第三产业增加值         3335.310
社会商品零售总额        3322.150
货物进出口总额        17209.320
年末总人口            679.360
在岗职工平均工资       65763.000
普通高等学校在校学生数       42.375
医院、卫生院数          276.500
房地产开发投资额        1122.350
dtype: float64

>>>              count          mean            std       min         25%  \
年份            36.0   2015.000000       0.000000   2015.00   2015.0000
国内生产总值        36.0   7721.065833    6127.837200    376.73   3330.1975
第一产业增加值       36.0    251.881389     221.049155      6.65     97.0200
第二产业增加值       36.0   3068.935278    2163.178122    140.95   1286.3750
第三产业增加值       36.0   4400.248611    4222.014567    221.98   1782.9850
社会商品零售总额      36.0   3362.513889    2465.495111    205.80   1493.9750
货物进出口总额       36.0  64333.485278  110687.783056    640.55   9119.6775
年末总人口         36.0    716.897500     564.578051     53.03    364.2900
在岗职工平均工资      36.0  69745.361111   15100.896250  52987.00  61981.5000
普通高等学校在校学生数   36.0     45.750278      26.377290      2.14     27.6300
医院、卫生院数       36.0    340.555556     272.341954     58.00    190.0000
房地产开发投资额      35.0   1374.133143     992.557698    280.43    595.9050

                   50%         75%        max
年份            2015.000   2015.0000    2015.00
国内生产总值        5776.205   9803.1300   25123.45
第一产业增加值        223.520    347.3825    1150.15
第二产业增加值       2611.690   4157.0600    7991.00
第三产业增加值       3335.310   5566.0900   18331.74
社会商品零售总额      3322.150   4616.9500   10338.00
货物进出口总额      17209.320  67480.3775  449240.72
年末总人口          679.360    819.0625    3371.84
在岗职工平均工资     65763.000  70846.0000  114582.00
普通高等学校在校学生数     42.375     61.8625     104.32
医院、卫生院数        276.500    392.2500    1568.00
房地产开发投资额      1122.350   1846.2000    4177.05
time: 55.2 ms

### (5) 数据抽样

In [163]:
''' 
有时候我们做研究分析或者数据量过大时，
只希望抽取一部分数据做研究，因此要进行数据抽样处理 
'''
print('--' * 20, '\n【5】数据抽样')

data = df.sample(n=5, replace=False)  # 不放回随机抽样 5 个数据
data

----------------------------------------
【5】数据抽样

,地区,年份,国内生产总值,第一产业增加值,第二产业增加值,第三产业增加值,社会商品零售总额,货物进出口总额,年末总人口,在岗职工平均工资,普通高等学校在校学生数,医院、卫生院数,房地产开发投资额
32,兰州,2015,2095.99,56.22,782.65,1257.11,1152.1,5058.60,321.90,62201,41.64,164,320.56
30,拉萨,2015,376.73,13.80,140.95,221.98,205.8,640.55,53.03,114582,2.14,78,NaN
16,南昌,2015,4000.01,171.26,2179.96,1648.79,1662.9,11464.34,520.38,57730,58.74,195,485.37
35,乌鲁木齐,2015,2631.64,31.64,787.37,1812.62,1151.5,5843.11,266.83,67617,18.05,175,366.87
0,北京,2015,23014.59,140.21,4542.64,18331.74,10338.0,319416.16,1345.20,113073,60.36,701,4177.05

time: 14.9 ms

## 2、pandas 中的应用函数 apply

In [164]:
''' 
我们发现数据集中有浮点型数据，但是我们只需要整形数据，
因此我们很有必要使用应用函数对原数据进行类型转换
'''
import numpy as np

def fun(x):
    x = int(x)
    return x
    
f = lambda x: x + 'QQ'

data1 = df['国内生产总值'].apply(fun)
data2 = df['地区'].apply(f)
data3 = df.iloc[:, :].apply(np.sum)

data1.head(), data2.head(), data3

(0    23014
 1    16538
 2     5440
 3     2735
 4     3090
 Name: 国内生产总值, dtype: int64, 0      北京QQ
 1      天津QQ
 2     石家庄QQ
 3      太原QQ
 4    呼和浩特QQ
 Name: 地区, dtype: object, 地区             北京天津石家庄太原呼和浩特沈阳大连长春哈尔滨上海南京杭州宁波合肥福州厦门南昌济南青岛郑州武汉...
 年份                                                         72540
 国内生产总值                                                    277958
 第一产业增加值                                                  9067.73
 第二产业增加值                                                   110482
 第三产业增加值                                                   158409
 社会商品零售总额                                                  121050
 货物进出口总额                                              2.31601e+06
 年末总人口                                                    25808.3
 在岗职工平均工资                                                 2510833
 普通高等学校在校学生数                                              1647.01
 医院、卫生院数                                                    12260
 房地产开发投资额                                                 48094.7
 dtype: object)

time: 8.47 ms

## 3、合并数据

In [165]:
import pandas as pd

df1 = pd.read_csv('/home/kesci/input/govstats2556/2015年国内主要城市年度数据.csv') 
df2 = pd.read_csv('/home/kesci/input/govstats2556/2016年国内主要城市年度数据.csv') 
df3 = pd.read_csv('/home/kesci/input/govstats2556/2017年国内主要城市年度数据.csv') 

df_1 = pd.concat(objs=[df1, df2, df3], axis=0)  # 合并数据，以行的维度合并
df_2 = pd.merge(left=df1, right=df2, on='年份', how='outer')  # 以指定值合并，在本案例中不实用

df_1.sample(n=7, replace=False)  # 随机不放回抽样 7 个数据

,地区,年份,国内生产总值,第一产业增加值,第二产业增加值,第三产业增加值,社会商品零售总额,货物进出口总额,年末总人口,在岗职工平均工资,普通高等学校在校学生数,医院、卫生院数,房地产开发投资额
27,成都,2015,10801.16,373.15,4723.49,5704.52,4946.2,39531.52,1228.05,69123,75.5800,768,2435.25
0,北京,2016,25669.13,129.79,4944.44,20594.90,11005.1,282348.96,1362.86,122749,59.9188,713,4000.57
16,南昌,2015,4000.01,171.26,2179.96,1648.79,1662.9,11464.34,520.38,57730,58.7400,195,485.37
2,石家庄,2016,5927.73,480.88,2693.92,2752.93,2975.2,12160.29,1038.00,61189,44.1812,425,1015.77
34,银川,2015,1493.86,58.62,780.84,654.40,477.6,3266.72,179.23,65643,9.8000,92,409.17
7,长春,2016,5917.94,323.53,2915.66,2678.74,2650.3,14162.91,753.43,68434,43.4366,297,596.65
5,沈阳,2017,5864.97,268.22,2261.37,3335.37,3989.8,12845.81,736.95,74181,39.7776,274,814.24

time: 31.5 ms

## 4、索引问题

In [166]:
''' 
单个索引，inplace=False 不覆盖的情况下，
要使用一个变量 d 来间接操作 
'''

d = df_1.set_index(keys='年份', inplace=False)
print(d.iloc[: , :4].head())  # 设置索引时的情况

# 注意在取消索引操作时，inplace=True 设置为 True，以便后面可以查看到取消后的情况
d.reset_index(inplace=True)  
d.iloc[: , :4].head()  # 取消索引时的情况

        地区    国内生产总值  第一产业增加值  第二产业增加值
年份
2015    北京  23014.59   140.21  4542.64
2015    天津  16538.19   208.82  7704.22
2015   石家庄   5440.60   494.44  2452.40
2015    太原   2735.34    37.40  1020.18
2015  呼和浩特   3090.52   126.23   867.08

     年份    地区    国内生产总值  第一产业增加值
0  2015    北京  23014.59   140.21
1  2015    天津  16538.19   208.82
2  2015   石家庄   5440.60   494.44
3  2015    太原   2735.34    37.40
4  2015  呼和浩特   3090.52   126.23

time: 14 ms

In [167]:
''' 
多级索引，inplace=True 覆盖的情况下，
直接使用 df_1 访问.

注意：在 inplace=True 覆盖原数据情况下，运行第 2 或多次，
      就会出现报错的情况，同时代码并没有语法错误，
      原因是原数据被覆盖了。解决方法是：重新运行所有代码，
      如果不是很必要，尽量不要执行覆盖原数据的操作
'''

df_1.set_index(keys=['地区', '年份'], inplace=True)  # 设置多级索引，覆盖原数据
print(df_1.iloc[: , :4].head())  

df_1.reset_index(inplace=True)
df_1.iloc[: , :4].head()

             国内生产总值  第一产业增加值  第二产业增加值   第三产业增加值
地区   年份
北京   2015  23014.59   140.21  4542.64  18331.74
天津   2015  16538.19   208.82  7704.22   8625.15
石家庄  2015   5440.60   494.44  2452.40   2493.77
太原   2015   2735.34    37.40  1020.18   1677.77
呼和浩特 2015   3090.52   126.23   867.08   2097.21

     地区    年份    国内生产总值  第一产业增加值
0    北京  2015  23014.59   140.21
1    天津  2015  16538.19   208.82
2   石家庄  2015   5440.60   494.44
3    太原  2015   2735.34    37.40
4  呼和浩特  2015   3090.52   126.23

time: 16.4 ms

## 5、排序问题

In [168]:
''' 通过索引排序 '''

data = df_1.sample(n=5, replace=False)  # 通过随机不放回抽样 5 个数据
# 通过索引排列，升序排列、不覆盖原数据、如有缺失值则放在前面
data.sort_index(ascending=True, inplace=False, na_position='first')

,地区,年份,国内生产总值,第一产业增加值,第二产业增加值,第三产业增加值,社会商品零售总额,货物进出口总额,年末总人口,在岗职工平均工资,普通高等学校在校学生数,医院、卫生院数,房地产开发投资额
8,哈尔滨,2015,5751.21,672.52,1862.78,3215.91,3394.5,4777.56,961.37,58405,66.3700,462,593.98
17,济南,2015,6100.23,305.39,2307.00,3487.84,3410.3,9114.24,625.73,68997,71.4000,269,1014.40
44,哈尔滨,2016,6101.61,691.18,1896.66,3513.77,3744.2,3974.63,962.05,62583,63.6240,471,526.13
71,乌鲁木齐,2016,2458.98,28.14,704.08,1726.76,1236.7,4902.58,267.87,73254,17.3847,152,344.71
72,北京,2017,28014.94,120.42,5326.76,22567.76,11575.4,324017.42,1359.20,134994,59.2878,656,3692.54

time: 16.1 ms

In [169]:
''' 通过指定列的值排序 '''

# 先以 "升序" 模式排完 "地区" 这一列，"年份" 这列再以 "地区" 列来排序
df_1.sort_values(by=['地区', '年份'], ascending=[True, False], 
                inplace=False, na_position='first').head(7)

,地区,年份,国内生产总值,第一产业增加值,第二产业增加值,第三产业增加值,社会商品零售总额,货物进出口总额,年末总人口,在岗职工平均工资,普通高等学校在校学生数,医院、卫生院数,房地产开发投资额
81,上海,2017,30632.99,110.78,9330.67,21191.54,11830.3,476196.65,1455.13,130765,51.4917,363,3856.53
45,上海,2016,28178.65,109.47,8406.28,19662.90,10946.6,433768.19,1450.00,120503,51.4683,656,3709.03
9,上海,2015,25123.45,109.82,7991.00,17022.63,10131.5,449240.72,1442.97,109279,51.1600,644,3468.94
107,乌鲁木齐,2017,2743.82,29.62,827.63,1886.56,1317.1,6807.12,222.62,78072,19.3853,127,422.74
71,乌鲁木齐,2016,2458.98,28.14,704.08,1726.76,1236.7,4902.58,267.87,73254,17.3847,152,344.71
35,乌鲁木齐,2015,2631.64,31.64,787.37,1812.62,1151.5,5843.11,266.83,67617,18.0500,175,366.87
104,兰州,2017,2523.54,61.47,881.74,1580.34,1358.7,1853.01,325.55,75709,40.6279,127,418.26

time: 17.7 ms

## 6、重复数据处理

In [170]:
''' 返回唯一值 '''

print('\n>>>', df_1['地区'].unique())  # 唯一值元素
print('\n>>>\n', df_1.nunique())  # 唯一值数量

>>> ['北京' '天津' '石家庄' '太原' '呼和浩特' '沈阳' '大连' '长春' '哈尔滨' '上海' '南京' '杭州' '宁波' '合肥'
 '福州' '厦门' '南昌' '济南' '青岛' '郑州' '武汉' '长沙' '广州' '深圳' '南宁' '海口' '重庆' '成都'
 '贵阳' '昆明' '拉萨' '西安' '兰州' '西宁' '银川' '乌鲁木齐']

>>>
 地区              36
年份               3
国内生产总值         108
第一产业增加值        108
第二产业增加值        108
第三产业增加值        108
社会商品零售总额       108
货物进出口总额        107
年末总人口          108
在岗职工平均工资       108
普通高等学校在校学生数    108
医院、卫生院数         96
房地产开发投资额       105
dtype: int64
time: 5.73 ms

In [171]:
''' 重复值处理 '''

# 查找重复值
print('\n>>>', df_1.duplicated(subset=['年份'], keep='first').head())  
# 删除重复值
print('\n>>>', df_1.drop_duplicates(subset=['年份'], keep='first', inplace=False).iloc[:, :4])
# 查找重复索引
print('\n>>>', df_1.index.duplicated())

>>> 0    False
1     True
2     True
3     True
4     True
dtype: bool

>>>     地区    年份    国内生产总值  第一产业增加值
0   北京  2015  23014.59   140.21
36  北京  2016  25669.13   129.79
72  北京  2017  28014.94   120.42

>>> [False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False]
time: 7.26 ms

## 7、数据分组

In [172]:
''' 指定一列是聚合列，如：年份 '''

# '地区'作为索引分组，'年份'与分组列'地区'聚合
# 第一种方法
df_1.groupby(by=['地区'], as_index=True).agg({'年份': ['max', 'min', 'median']}).head()
# 第二种方法，两种方法是等效的
df_1.groupby(by=['地区'], as_index=True).年份.agg(['max', 'min', 'median']).head()

# 第三种方法
# df_1.groupby(by=['地区'], as_index=True).agg({'年份'}).head()

       max   min  median
地区
上海    2017  2015    2016
乌鲁木齐  2017  2015    2016
兰州    2017  2015    2016
北京    2017  2015    2016
南京    2017  2015    2016

time: 14.6 ms

In [173]:
''' 指定多列列是聚合列，如：年份、国内生产总值 '''

df_1.groupby(by=['地区'], as_index=True).agg({'年份': 'max', '国内生产总值': 'describe'}).head()

        年份 国内生产总值                                                            \
        年份  count          mean          std       min        25%       50%
地区
上海    2017    3.0  27978.363333  2760.225320  25123.45  26651.050  28178.65
乌鲁木齐  2017    3.0   2611.480000   143.486151   2458.98   2545.310   2631.64
兰州    2017    3.0   2294.586667   215.385459   2095.99   2180.110   2264.23
北京    2017    3.0  25566.220000  2501.762955  23014.59  24341.860  25669.13
南京    2017    3.0  10646.296667  1004.855308   9720.77  10111.895  10503.02


            75%       max
地区
上海    29405.820  30632.99
乌鲁木齐   2687.730   2743.82
兰州     2393.885   2523.54
北京    26842.035  28014.94
南京    11109.060  11715.10

time: 94.5 ms

In [174]:
''' 没有指定聚合列，则代表选择所有列 '''
# 返回所有列中的最大值
df_1.groupby(by=['地区'], as_index=True).max().head()

,年份,国内生产总值,第一产业增加值,第二产业增加值,第三产业增加值,社会商品零售总额,货物进出口总额,年末总人口,在岗职工平均工资,普通高等学校在校学生数,医院、卫生院数,房地产开发投资额
地区,,,,,,,,,,,,
上海,2017,30632.99,110.78,9330.67,21191.54,11830.3,476196.65,1455.13,130765,51.4917,656,3856.53
乌鲁木齐,2017,2743.82,31.64,827.63,1886.56,1317.1,6807.12,267.87,78072,19.3853,175,422.74
兰州,2017,2523.54,61.47,881.74,1580.34,1358.7,5058.60,325.55,75709,42.4842,172,418.26
北京,2017,28014.94,140.21,5326.76,22567.76,11575.4,324017.42,1362.86,134994,60.3600,713,4177.05
南京,2017,11715.10,263.01,4454.87,6997.22,5604.7,61187.27,680.67,101502,82.7773,225,2170.21

time: 15.8 ms

## 8、处理缺失值

In [175]:
''' 在上面的探索中，发现有缺失值，因此有必要进行处理 '''

print('\n>>>', df_1.isnull().sum())  # 查看所有数据的缺失情况

# 第一种方法，删除缺失值数据
# df_1.dropna(axis=0, how='any', thresh=None, inplace=False).head()  
print('\n>>>', df_1.dropna().head())

# 第二种方法，使用填充法填充缺失值
print('\n>>>', df_1.fillna(method='ffill').head())  # 使用缺失值的前一个值填充(前向填充)
print('\n>>>', df_1.fillna(method='bfill').head())  # 使用缺失值的后一个值填充(后向填充)

''' 平均值填充(所有列填充) '''
print('\n>>>', df_1.fillna(value=df_1.mean()).head()) 
''' 指定某一列平均值填充 '''
# print('\n>>>', df_1['房地产开发投资额'].fillna(   value=df_1['房地产开发投资额'].mean()).head())  
''' 指定多列填充 '''
# print('\n>>>', df_1.fillna(value={'年份': df_1['年份'].max(),'房地产开发投资额':
                            # df_1['房地产开发投资额'].mean()}))

>>> 地区             0
年份             0
国内生产总值         0
第一产业增加值        0
第二产业增加值        0
第三产业增加值        0
社会商品零售总额       0
货物进出口总额        0
年末总人口          0
在岗职工平均工资       0
普通高等学校在校学生数    0
医院、卫生院数        0
房地产开发投资额       3
dtype: int64

>>>      地区    年份    国内生产总值  第一产业增加值  第二产业增加值   第三产业增加值  社会商品零售总额    货物进出口总额  \
0    北京  2015  23014.59   140.21  4542.64  18331.74   10338.0  319416.16
1    天津  2015  16538.19   208.82  7704.22   8625.15    5257.3  114282.80
2   石家庄  2015   5440.60   494.44  2452.40   2493.77    2693.0   12160.29
3    太原  2015   2735.34    37.40  1020.18   1677.77    1540.8   10677.38
4  呼和浩特  2015   3090.52   126.23   867.08   2097.21    1353.5    2072.75

     年末总人口  在岗职工平均工资  普通高等学校在校学生数  医院、卫生院数  房地产开发投资额
0  1345.20    113073        60.36      701   4177.05
1  1026.90     81486        51.29      661   1871.55
2  1028.84     54441        41.98      393    965.13
3   367.39     60516        42.14      247    597.83
4   238.58     53698        23.52      174    509.05

>>>      地区    年份    国内生产总值  第一产业增加值  第二产业增加值   第三产业增加值  社会商品零售总额    货物进出口总额  \
0    北京  2015  23014.59   140.21  4542.64  18331.74   10338.0  319416.16
1    天津  2015  16538.19   208.82  7704.22   8625.15    5257.3  114282.80
2   石家庄  2015   5440.60   494.44  2452.40   2493.77    2693.0   12160.29
3    太原  2015   2735.34    37.40  1020.18   1677.77    1540.8   10677.38
4  呼和浩特  2015   3090.52   126.23   867.08   2097.21    1353.5    2072.75

     年末总人口  在岗职工平均工资  普通高等学校在校学生数  医院、卫生院数  房地产开发投资额
0  1345.20    113073        60.36      701   4177.05
1  1026.90     81486        51.29      661   1871.55
2  1028.84     54441        41.98      393    965.13
3   367.39     60516        42.14      247    597.83
4   238.58     53698        23.52      174    509.05

>>>      地区    年份    国内生产总值  第一产业增加值  第二产业增加值   第三产业增加值  社会商品零售总额    货物进出口总额  \
0    北京  2015  23014.59   140.21  4542.64  18331.74   10338.0  319416.16
1    天津  2015  16538.19   208.82  7704.22   8625.15    5257.3  114282.80
2   石家庄  2015   5440.60   494.44  2452.40   2493.77    2693.0   12160.29
3    太原  2015   2735.34    37.40  1020.18   1677.77    1540.8   10677.38
4  呼和浩特  2015   3090.52   126.23   867.08   2097.21    1353.5    2072.75

     年末总人口  在岗职工平均工资  普通高等学校在校学生数  医院、卫生院数  房地产开发投资额
0  1345.20    113073        60.36      701   4177.05
1  1026.90     81486        51.29      661   1871.55
2  1028.84     54441        41.98      393    965.13
3   367.39     60516        42.14      247    597.83
4   238.58     53698        23.52      174    509.05

>>>      地区    年份    国内生产总值  第一产业增加值  第二产业增加值   第三产业增加值  社会商品零售总额    货物进出口总额  \
0    北京  2015  23014.59   140.21  4542.64  18331.74   10338.0  319416.16
1    天津  2015  16538.19   208.82  7704.22   8625.15    5257.3  114282.80
2   石家庄  2015   5440.60   494.44  2452.40   2493.77    2693.0   12160.29
3    太原  2015   2735.34    37.40  1020.18   1677.77    1540.8   10677.38
4  呼和浩特  2015   3090.52   126.23   867.08   2097.21    1353.5    2072.75

     年末总人口  在岗职工平均工资  普通高等学校在校学生数  医院、卫生院数  房地产开发投资额
0  1345.20    113073        60.36      701   4177.05
1  1026.90     81486        51.29      661   1871.55
2  1028.84     54441        41.98      393    965.13
3   367.39     60516        42.14      247    597.83
4   238.58     53698        23.52      174    509.05

' 指定多列填充 '

time: 43.2 ms

## 9、选择指定的数据

In [176]:
''' 按标签选择 '''
# 按行的序号、列的名称选择
# df.loc[:, '列名']/df.loc[[0,1, 2], ['列名1', '列名2']] 

print('\n>>>', df_1.loc[:, '年份'].head())
print('\n>>>', df_1.loc[[0, 4, 7], ['年份', '国内生产总值']].head())

>>> 0    2015
1    2015
2    2015
3    2015
4    2015
Name: 年份, dtype: int64

>>>      年份    国内生产总值
0  2015  23014.59
4  2015   3090.52
7  2015   5530.03
time: 5.05 ms

In [177]:
''' 按位置选择 '''
# 按行位置(序号)、列位置选择
# df.iloc[:, :]/da.iloc[[0, 1, 2], [2, 3, 4]] 

print('\n>>>', df_1.iloc[:3, :3])
print('\n>>>', df_1.iloc[[1, 34, 56], [2, 4, 8]])

>>>     地区    年份    国内生产总值
0   北京  2015  23014.59
1   天津  2015  16538.19
2  石家庄  2015   5440.60

>>>       国内生产总值  第二产业增加值    年末总人口
1   16538.19  7704.22  1026.90
34   1493.86   780.84   179.23
56  11912.61  5227.05   833.85
time: 6.42 ms

In [178]:
''' 按位置/标签选择 '''
# df.ix[2] 选择某行
# df.ix[: , 'A'] 选择某列
# df.ix[1, 'A']

print('\n>>>', df_1.ix[:, '年份'].head())
print('\n>>>', df_1.ix[:, :3].head())

>>> 0    2015
1    2015
2    2015
3    2015
4    2015
Name: 年份, dtype: int64

>>>      地区    年份    国内生产总值
0    北京  2015  23014.59
1    天津  2015  16538.19
2   石家庄  2015   5440.60
3    太原  2015   2735.34
4  呼和浩特  2015   3090.52
time: 4.48 ms

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  import sys

In [179]:
''' 按条件来选择 

# 筛选出符合条件的列
df_1[df_1['国内生产总值'] > 15678]
df_1.loc[:, (df_1>1).any()]  # 选择任一值大于1的列
df_1.loc[:, (df_1>1).all()]  # 选择所有值大于1的列
df_1.loc[:, df_1.isnull().any()]  # 选择含 NaN值的列
df_1.loc[:, df_1.notnull().all()]  # 选择不含NaN值的列

# 选择指定的列，类似于 df[['某列', '某列']]
df_1.filter(items=['地区', '年份'])  # 选择指定的列
df_1.filter(like='产业', axis=1)  # 选择含有 "产业" 的列

# 筛选出符合条件的指定的列，并对其进行"替换修改"
df_1.loc[df_1['地区'] == '北京', '地区'] = 10  
'''

df_1[df_1['地区'] == '北京']

,地区,年份,国内生产总值,第一产业增加值,第二产业增加值,第三产业增加值,社会商品零售总额,货物进出口总额,年末总人口,在岗职工平均工资,普通高等学校在校学生数,医院、卫生院数,房地产开发投资额
0,北京,2015,23014.59,140.21,4542.64,18331.74,10338.0,319416.16,1345.20,113073,60.3600,701,4177.05
36,北京,2016,25669.13,129.79,4944.44,20594.90,11005.1,282348.96,1362.86,122749,59.9188,713,4000.57
72,北京,2017,28014.94,120.42,5326.76,22567.76,11575.4,324017.42,1359.20,134994,59.2878,656,3692.54

time: 13.7 ms

### 10、时间序列

In [180]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

df_date = pd.read_csv('/home/kesci/input/results6370/results.csv')
print(df_date.shape)
df_date.head()

(39672, 9)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

time: 76.1 ms

···
字段	含义
date	比赛日期
home_team	主队的名字
away_team	客场球队的名字
home_score	全队得分包括加时赛，不包括点球
away_score	全队客场得分包括加时赛，不包括点球
tournament	比赛的名称
city	比赛举办城市/城镇/行政单位的名称
country	比赛举办国的名称
neutral	TRUE/FALSE列，表示比赛是否在中立地点进行
···

#### 10.1 构造时间序列特征
pd.to_datetime(data, format, errors)

In [181]:
# 将字符串时间转换为 datetime 时间模式
df_date['date'] = pd.to_datetime(df_date['date'])
df_date.dtypes

date          datetime64[ns]
home_team             object
away_team             object
home_score             int64
away_score             int64
tournament            object
city                  object
country               object
neutral                 bool
dtype: object

time: 15.4 ms

In [182]:
# 开始构造新的时间序列
df_date['year'] = df_date['date'].dt.year            # 构造 'year' 年份特征
df_date['month'] = df_date['date'].dt.month          # 构造 'month' 月份特征
df_date['day'] = df_date['date'].dt.day              # 构造 'day' 日份特征
df_date['hour'] = df_date['date'].dt.hour            # 构造 'hour' 小时特征
df_date['minute'] = df_date['date'].dt.minute        # 构造 'minute' 分钟特征
df_date['second'] = df_date['date'].dt.second        # 构造 'second' 秒钟特征
df_date['week'] = df_date['date'].dt.week            # 构造 'week' 周数特征
df_date['weekday'] = df_date['date'].dt.weekday + 1  # 构造 'weekday' 星期几特征
print(df_date.columns)
df_date.head()

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral', 'year', 'month', 'day',
       'hour', 'minute', 'second', 'week', 'weekday'],
      dtype='object')

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,month,day,hour,minute,second,week,weekday
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872,11,30,0,0,0,48,6
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873,3,8,0,0,0,10,6
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874,3,7,0,0,0,10,6
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875,3,6,0,0,0,9,6
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876,3,4,0,0,0,9,6

time: 35.5 ms

### 11 pandas 可视化
#### 11.1 条形图——探索趋势走势
DataFrame.plot()

In [183]:
# 探索 1872~2018 以来，每一年的足球比赛数量趋势
df_plot = df_date.copy()
result1 = df_plot[['year']].plot(color='r')
plt.ylabel('year')
plt.xlabel('number')

Text(0.5, 0, 'number')

time: 493 ms

从上面的曲线变化情况来看，国际足球比赛是逐年不断增长的态势

#### 11.2 直方图——探索集中分布情况
DataFrame.hist(bins=50, figsize=(10, 5))

In [184]:
# 足球比赛一般集中在几月份进行呢？
result1 = df_plot[['month']].hist(bins=50, figsize=(8, 5))

time: 316 ms

从上面可以看出：  
举行比赛最多的两个月份是：6月、10月  
举行比赛最少的两个月份是：1月、12月

#### 11.3 箱形图——探索集中分布以及异常值情况

In [185]:
df_plot[['day']].boxplot()

time: 154 ms

从上面的箱形图中可以看出：  
举行比赛日一般集中在 8~23 日之间