# Pandasæ•°æ®å¤„ç†120é¢˜çŸ¥è¯†ç‚¹æ€»ç»“
## ç¬¬ä¸‰ç«  æ•°æ®æ¡†è¡Œåˆ—æ›´æ”¹

---
  
ã€€IDï¼šwlong
ã€€æ•°æ®åˆ†æçˆ±å¥½è€…ã€ç›®å‰å°ç™½ä¸€æš
ã€€é‚®ç®±ï¼šwlong826@163.com
ã€€CSDNï¼š**[ã€æ•°åˆ†å°ç™½é¾™ã€‘](https://blog.csdn.net/qq_38230663)**
ã€€å’Œé²¸ç¤¾åŒºï¼š**[ã€wlongã€‘](https://www.heywhale.com/home/user/profile/5f0a61d72be199002c073935)**
ã€€å¦‚æœæœ‰ä¸å®Œå–„çš„åœ°æ–¹ï¼Œæ¬¢è¿å°ä¼™ä¼´è¯„è®ºåŒºç•™è¨€ï¼
ã€€æœ€è¿‘åšå®¢ã€å’Œé²¸æ¯å‘¨éƒ½ä¼šæœ‰æ‰€æ›´æ–°ï¼Œæ¬¢è¿å¤§å®¶**å…³æ³¨ç‚¹èµåˆ†äº«**å“¦ï¼
 
---

ã€€æœ¬æ–‡çš„CSDNé“¾æ¥ï¼š[ã€ä¸‰ã€ æ•°æ®æ¡†è¡Œåˆ—æ›´æ”¹ã€‘](https://blog.csdn.net/qq_38230663/article/details/116397394?spm=1001.2014.3001.5501)
 
 ã€€å¦‚æœæœ‰æƒ³å­¦ä¹ çˆ¬è™«çš„å°ä¼™ä¼´ï¼Œå¯ä»¥çœ‹è¿™é‡Œï¼š[ã€é›¶åŸºç¡€å…¥é—¨Pythonçˆ¬è™«--è±†ç“£ã€58åŒåŸã€å®‰å±…å®¢ç­‰ã€‘](https://www.heywhale.com/mw/project/60be1fa8acdcb3001707b133)
	
 ã€€å…³äºæ€»ç»“æ›´è¯¦ç»†çš„é…å¥—ä¹ é¢˜æ¡ˆä¾‹ï¼Œçœ‹è¿™ğŸ‘‰ï¼š[ã€å’Œé²¸è®­ç»ƒè¥ç¬¬ä¸€æœŸâ€”â€”PandasåŸºç¡€ã€‘](https://www.heywhale.com/home/competition/60c086d8565cca001731537f)

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.DataFrame({'n':['wencky','stany','barbio'],
                      'a':[29,29,3],
                      'g':['w','m','m']})
df

        n   a  g
0  wencky  29  w
1   stany  29  m
2  barbio   3  m

## 1. è®¾ç½®ç´¢å¼•

In [3]:
df['id'] = [2001, 2002, 2003]

In [4]:
df.set_index('id',inplace=True)
df

           n   a  g
id
2001  wencky  29  w
2002   stany  29  m
2003  barbio   3  m

## 2. é‡ç½®ç´¢å¼•(è¡Œå·)

In [5]:
df.reset_index(drop = True, inplace = True) # drop = Trueï¼šåŸæœ‰ç´¢å¼•å°±ä¸ä¼šæˆä¸ºæ–°çš„åˆ—
df

        n   a  g
0  wencky  29  w
1   stany  29  m
2  barbio   3  m

## 3. æ›´æ”¹åˆ—å

In [6]:
#æ–¹æ³•ä¸€ï¼šç›´æ¥æ³•
df.columns = ['name', 'age', 'gender']
 
#æ–¹æ³•äºŒï¼š(ä½¿ç”¨rename()å‡½æ•°ï¼šä¿®æ”¹æŒ‡å®šä¿®æ”¹æŸåˆ—æˆ–æŸå‡ åˆ—åå­—)
df.rename(columns={'n':'name', 'a':'age', 'g':'gender'}, inplace=True)

In [7]:
df

     name  age gender
0  wencky   29      w
1   stany   29      m
2  barbio    3      m

## 4. æ›´æ”¹åˆ—åº

### (1) å°†ä¸‰åˆ—å€’åº

In [8]:
#æ–¹æ³•ä¸€ï¼š
df.iloc[:, ::-1]
 
#æ–¹æ³•äºŒ
df.iloc[:, [-1,-2,-3]]

  gender  age    name
0      w   29  wencky
1      m   29   stany
2      m    3  barbio

### (2) äº¤æ¢nameå’Œgenderä¸¤åˆ—ä½ç½®

In [9]:
# æ–¹æ³•ä¸€
temp = df['name']
df.drop(labels=['name'], axis=1, inplace=True)
df.insert(0, 'name', temp)
df

     name  age gender
0  wencky   29      w
1   stany   29      m
2  barbio    3      m

In [10]:
# æ–¹æ³•äºŒ:ç›´æ¥æ³•ï¼Œæ›´æ”¹å–åˆ—é¡ºåº
cols = df.columns[[2,1,0]]
df = df[cols]
df

  gender  age    name
0      w   29  wencky
1      m   29   stany
2      m    3  barbio

### (3) æ›´æ”¹å…¨éƒ¨åˆ—æ’åº

In [11]:
order = ['name', 'age', 'gender']
df = df[order]
df

     name  age gender
0  wencky   29      w
1   stany   29      m
2  barbio    3      m

## 5. åˆ é™¤è¡Œåˆ—

### (1) DataFrame.dropç”¨æ³•

- DataFrame.drop(axis=0, how='any', thresh=None, subset=None, inplace=True)
    - axis=0 è¡Œï¼›axis=1 åˆ—ï¼›
    - howï¼š{'any', 'all'} -- 'any'ï¼šå­˜åœ¨NAå€¼å°±åˆ é™¤è¯¥è¡Œ/åˆ—ï¼›'all'ï¼šæ‰€æœ‰å€¼ä¸ºNAæ‰åˆ é™¤ï¼›
    - threshï¼šintä¿ç•™å«æœ‰intä¸ªéç©ºå€¼çš„è¡Œï¼›
    - subsetï¼šå¯¹ç‰¹å®šçš„åˆ—è¿›è¡Œç¼ºå¤±å€¼åˆ é™¤å¤„ç†ï¼›
    - inplaceï¼šFalse-è¿”å›æ–°çš„æ•°æ®é›†ï¼ˆé»˜è®¤ï¼‰ï¼ŒTrue-åœ¨åŸæ•°æ®é›†ä¸Šæ“ä½œ

### (2) åˆ é™¤idåˆ—

In [12]:
# æ³•ä¸€ï¼š
df['id'] = [2001, 2002, 2003]
del df['id']
# æ³•äºŒï¼š
df['id'] = [2001, 2002, 2003]
df.drop('id', axis=1, inplace=True)
df

     name  age gender
0  wencky   29      w
1   stany   29      m
2  barbio    3      m

### (3) åˆ é™¤name='stany'çš„è¡Œ

In [13]:
index = df[df['name'] == 'stany'].index[0]
df.drop(labels=[index], inplace=True)
df

     name  age gender
0  wencky   29      w
2  barbio    3      m

### (4) åˆ é™¤ageåˆ—æ‰€æœ‰ä¸ºéæ•°å­—çš„è¡Œ

In [14]:
# å…ˆå¢åŠ å‡ è¡Œæ•°æ®
dicts = {'name':['Perl','mary', 'tom', 'bob'],'age':[20, 18, 'æ— ', 26], 'gender':['m', 'w', 'm', 'w']}
df2 = pd.DataFrame(dicts)
df = df.append(df2,ignore_index=True)
df

     name age gender
0  wencky  29      w
1  barbio   3      m
2    Perl  20      m
3    mary  18      w
4     tom   æ—       m
5     bob  26      w

In [15]:
# å…ˆå®šä¹‰ä¸€ä¸ªæ•°ç»„ï¼Œå­˜å‚¨éæ•°å­—çš„ç´¢å¼•ï¼Œç„¶åå†drop()
k = []
for i in range(len(df)):
    if type(df['age'][i]) != int:
        k.append(i)
df.drop(labels=k, inplace=True)
df

     name age gender
0  wencky  29      w
1  barbio   3      m
2    Perl  20      m
3    mary  18      w
5     bob  26      w

## 6. ä¸¤åˆ—åˆå¹¶æˆæ–°çš„ä¸€åˆ—

In [16]:
df['test1'] = df['name'] + df['gender'] # ä¸¤åˆ—å‡ä¸ºå­—ç¬¦ä¸²ç±»å‹
df['test2'] = df['age'].map(str) + df['gender'] # ageä¸ºintç±»å‹ï¼Œéœ€è½¬æ¢ä¸ºå­—ç¬¦ä¸²ç±»å‹ï¼›
df

     name age gender    test1 test2
0  wencky  29      w  wenckyw   29w
1  barbio   3      m  barbiom    3m
2    Perl  20      m    Perlm   20m
3    mary  18      w    maryw   18w
5     bob  26      w     bobw   26w

## 7. åè½¬æ•°æ®æ¡†çš„è¡Œ

In [17]:
df.iloc[::-1, :]
# [::-1]è¡¨ç¤ºæ­¥é•¿ä¸º-1, ä»åå¾€å‰å€’åºè¾“å‡º

     name age gender    test1 test2
5     bob  26      w     bobw   26w
3    mary  18      w    maryw   18w
2    Perl  20      m    Perlm   20m
1  barbio   3      m  barbiom    3m
0  wencky  29      w  wenckyw   29w

----

# æœ€åé™„ä¸Šæ€ç»´å¯¼å›¾ï¼š

![Image Name](https://cdn.kesci.com/upload/image/quhb92rre6.png)